<a href="https://colab.research.google.com/github/RicardoGalindoBulos/Examen1/blob/main/Micro_Retailers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

In [ ]:
#Cargar archivo
from google.colab import files
files.upload()

In [4]:
#Cargarlo como xlsx sin indice
Micro_Retailer= pd.read_excel('microretailer_mit_lift_lab.xlsx')

In [ ]:
#Separo las columnas por cuantitativas y cualitativas
Cualitativa=Micro_Retailer.iloc[:,[7,9,10,11,12,15,23,24,25,26,27,28,30,32,34,35,36,37,38,41,43,44,45,46,47,48,50,53,54,55,61,62,63,65,66,67,68,69,70,71,72,73,74,75,76,77,79,80,81,82,83,84,85,88,89,90,91,92,93,94,95,96,97,98,99,100,102]]
Cualitativa

In [ ]:
#Limpiamos valores nulos para cada columna cualitativa
Cualitativa["228_store_name"] =Cualitativa["228_store_name"].fillna(method="ffill")
Cualitativa["232_type_of_store"] =Cualitativa["232_type_of_store"].fillna(method="ffill")
Cualitativa["108_does_the_micro_retailer_has_a_barred_window_"] =Cualitativa["108_does_the_micro_retailer_has_a_barred_window_"].fillna(method="ffill")
Cualitativa["99_does_the_micro_retailer_exhibits_products_outside_"] =Cualitativa["99_does_the_micro_retailer_exhibits_products_outside_"].fillna(method="ffill")
Cualitativa["102_does_the_micro_retailer_sells_fresh_products_"] =Cualitativa["102_does_the_micro_retailer_sells_fresh_products_"].fillna(method="ffill")
Cualitativa["184_store_devices"] =Cualitativa["184_store_devices"].fillna(method="ffill")
Cualitativa["5_change_store_space_last_year"] =Cualitativa["5_change_store_space_last_year"].fillna(method="ffill")
Cualitativa["6_change_employees_average_salary_last_year"] =Cualitativa["6_change_employees_average_salary_last_year"].fillna(method="ffill")
Cualitativa["20_reviews_finances_monthly"] =Cualitativa["20_reviews_finances_monthly"].fillna(method="ffill")
Cualitativa["49_inventory_records"] =Cualitativa["49_inventory_records"].fillna(method="ffill")
Cualitativa["18_sales_records"] =Cualitativa["18_sales_records"].fillna(method="ffill")
Cualitativa["155_sales_registers_used_for"] =Cualitativa["155_sales_registers_used_for"].fillna(method="ffill")
Cualitativa["19_tax_id"] =Cualitativa["19_tax_id"].fillna(method="ffill")
Cualitativa["310_burnout"] =Cualitativa["310_burnout"].fillna(method="ffill")
Cualitativa["186_internet_connection"] =Cualitativa["186_internet_connection"].fillna(method="ffill")
Cualitativa["210_sales_channels"] =Cualitativa["210_sales_channels"].fillna(method="ffill")
Cualitativa["189_payment_methods"] =Cualitativa["189_payment_methods"].fillna(method="ffill")
Cualitativa["28_prefered_payment_method"] =Cualitativa["28_prefered_payment_method"].fillna(method="ffill")
Cualitativa["31_different_prices_payment_method"] =Cualitativa["31_different_prices_payment_method"].fillna(method="ffill")
Cualitativa["214_customer_relationship_tools"] =Cualitativa["214_customer_relationship_tools"].fillna(method="ffill")
Cualitativa["33_credit_to_customers"] =Cualitativa["33_credit_to_customers"].fillna(method="ffill")
Cualitativa["193_sales_planning_tools"] =Cualitativa["193_sales_planning_tools"].fillna(method="ffill")
Cualitativa["60_services"] =Cualitativa["60_services"].fillna(method="ffill")
Cualitativa["69_why_not_services"] =Cualitativa["69_why_not_services"].fillna(method="ffill")
Cualitativa["313_home_deliveries"] =Cualitativa["313_home_deliveries"].fillna(method="ffill")
Cualitativa["161_actions_stockouts"] =Cualitativa["161_actions_stockouts"].fillna(method="ffill")
Cualitativa["249_technology_training"] =Cualitativa["249_technology_training"].fillna(method="ffill")
Cualitativa["250_technology_investment_operations"] =Cualitativa["250_technology_investment_operations"].fillna(method="ffill")
Cualitativa["251_technology_investment_customers"] =Cualitativa["251_technology_investment_customers"].fillna(method="ffill")
Cualitativa["254_technology_roadmap"] =Cualitativa["254_technology_roadmap"].fillna(method="ffill")
Cualitativa["260_technology_scalable"] =Cualitativa["260_technology_scalable"].fillna(method="ffill")
Cualitativa["261_technology_organization"] =Cualitativa["261_technology_organization"].fillna(method="ffill")
Cualitativa["262_technology_serve_customers"] =Cualitativa["262_technology_serve_customers"].fillna(method="ffill")
Cualitativa["263_technology_secure_sales"] =Cualitativa["263_technology_secure_sales"].fillna(method="ffill")
Cualitativa["264_technology_budget"] =Cualitativa["264_technology_budget"].fillna(method="ffill")
Cualitativa["267_technology_investment_customer_preferences"] =Cualitativa["267_technology_investment_customer_preferences"].fillna(method="ffill")
Cualitativa["318_shopkeeper_name"] =Cualitativa["318_shopkeeper_name"].fillna(method="ffill")
valores_nulos=Cualitativa.isnull().sum()
valores_nulos

In [ ]:
#Separamos las variables cuantitativas
Cuantitativa=Micro_Retailer.iloc[:,[5,6,13,14,16,21,22,29,31,33,42,49,51,56,57,58,59,60,78]]
Cuantitativa

In [ ]:
#Limpiamos valores nulos de las variables cuantitativas
Cuantitativa["97_number_of_customers_in_store"]=Cuantitativa["97_number_of_customers_in_store"].fillna(round(Cuantitativa["97_number_of_customers_in_store"].mean(),1))
Cuantitativa["268_number_fridges"]=Cuantitativa["268_number_fridges"].fillna(round(Cuantitativa["268_number_fridges"].mean(),1))
Cuantitativa["104_how_many_shelves_does_the_micro_retailer_have"]=Cuantitativa["104_how_many_shelves_does_the_micro_retailer_have"].fillna(round(Cuantitativa["104_how_many_shelves_does_the_micro_retailer_have"].mean(),1))
Cuantitativa["2_current_permanent_employees"]=Cuantitativa["2_current_permanent_employees"].fillna(round(Cuantitativa["2_current_permanent_employees"].mean(),1))
Cuantitativa["4_number_permanent_employees_last_year"]=Cuantitativa["4_number_permanent_employees_last_year"].fillna(round(Cuantitativa["4_number_permanent_employees_last_year"].mean(),1))
Cuantitativa["103_number_own_fridges"]=Cuantitativa["103_number_own_fridges"].fillna(round(Cuantitativa["103_number_own_fridges"].mean(),1))
Cuantitativa["145_number_direct_competitors"]=Cuantitativa["145_number_direct_competitors"].fillna(round(Cuantitativa["145_number_direct_competitors"].mean(),1))
Cuantitativa["24_burnout"]=Cuantitativa["24_burnout"].fillna(round(Cuantitativa["24_burnout"].mean(),1))
Cuantitativa["272_card_days_receive_money"]=Cuantitativa["272_card_days_receive_money"].fillna(round(Cuantitativa["272_card_days_receive_money"].mean(),1))
Cuantitativa["276_expected_days_informal_credit"]=Cuantitativa["276_expected_days_informal_credit"].fillna(round(Cuantitativa["276_expected_days_informal_credit"].mean(),1))
Cuantitativa["36_credit_default_rate"]=Cuantitativa["36_credit_default_rate"].fillna(round(Cuantitativa["36_credit_default_rate"].mean(),1))
Cuantitativa["315_frequency_topups"]=Cuantitativa["315_frequency_topups"].fillna(round(Cuantitativa["315_frequency_topups"].mean(),1))
Cuantitativa["316_frequency_utility_bills"]=Cuantitativa["316_frequency_utility_bills"].fillna(round(Cuantitativa["316_frequency_utility_bills"].mean(),1))
Cuantitativa["317_home_deliveries"]=Cuantitativa["317_home_deliveries"].fillna(round(Cuantitativa["317_home_deliveries"].mean(),1))
Cuantitativa["62_frequency_only_services"]=Cuantitativa["62_frequency_only_services"].fillna(round(Cuantitativa["62_frequency_only_services"].mean(),1))
Cuantitativa["78_number_home_deliveries_week"]=Cuantitativa["78_number_home_deliveries_week"].fillna(round(Cuantitativa["78_number_home_deliveries_week"].mean(),1))
Cuantitativa["172_supplier_frequency"]=Cuantitativa["172_supplier_frequency"].fillna(round(Cuantitativa["172_supplier_frequency"].mean(),1))

valores_nulos=Cuantitativa.isnull().sum()
valores_nulos

In [17]:
y=Cuantitativa
  
Limite_Superior= y.mean() + 3*y.std()
Limite_Inferior= y.mean() - 3*y.std()
print("Limite superior permitido", Limite_Superior)
print("Limite inferior permitido", Limite_Inferior)
#Encontramos Ouliers del Dataframe
outliers= Cuantitativa[(y>Limite_Superior)|(y<Limite_Inferior)]
outliers

Limite superior permitido _latitude                                            19.111172
_longitude                                          -98.090304
97_number_of_customers_in_store                       6.591777
268_number_fridges                                   10.155335
104_how_many_shelves_does_the_micro_retailer_have    55.812917
2_current_permanent_employees                        13.659862
4_number_permanent_employees_last_year               12.386900
103_number_own_fridges                                7.244937
145_number_direct_competitors                        12.374221
24_burnout                                            7.263834
272_card_days_receive_money                           2.355266
276_expected_days_informal_credit                    28.617998
36_credit_default_rate                                3.313585
315_frequency_topups                                 21.535127
316_frequency_utility_bills                          35.496007
317_home_deliveries                                  36.568770
62_frequency_only_services                           35.753739
78_number_home_deliveries_week                        2.325396
172_supplier_frequency                                7.578440
dtype: float64
Limite inferior permitido _latitude                                            18.979439
_longitude                                          -98.347635
97_number_of_customers_in_store                      -3.808151
268_number_fridges                                   -6.882821
104_how_many_shelves_does_the_micro_retailer_have   -42.397712
2_current_permanent_employees                        -9.507816
4_number_permanent_employees_last_year               -8.581052
103_number_own_fridges                               -2.239089
145_number_direct_competitors                        -4.825683
24_burnout                                            1.129148
272_card_days_receive_money                          -0.366962
276_expected_days_informal_credit                    -0.215658
36_credit_default_rate                               -0.106567
315_frequency_topups                                 -3.535127
316_frequency_utility_bills                          21.503993
317_home_deliveries                                  -9.371109
62_frequency_only_services                          -14.765435
78_number_home_deliveries_week                        1.674604
172_supplier_frequency                               -1.601832
dtype: float64

,_latitude,_longitude,97_number_of_customers_in_store,268_number_fridges,104_how_many_shelves_does_the_micro_retailer_have,2_current_permanent_employees,4_number_permanent_employees_last_year,103_number_own_fridges,145_number_direct_competitors,24_burnout,272_card_days_receive_money,276_expected_days_informal_credit,36_credit_default_rate,315_frequency_topups,316_frequency_utility_bills,317_home_deliveries,62_frequency_only_services,78_number_home_deliveries_week,172_supplier_frequency
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
Cuantitativa= Cuantitativa[(y<=Limite_Superior)&(y>=Limite_Inferior)]
Cuantitativa

In [20]:
valores_nulos=Cuantitativa.isnull().sum()
valores_nulos

_latitude                                            0
_longitude                                           0
97_number_of_customers_in_store                      4
268_number_fridges                                   3
104_how_many_shelves_does_the_micro_retailer_have    3
2_current_permanent_employees                        1
4_number_permanent_employees_last_year               1
103_number_own_fridges                               1
145_number_direct_competitors                        4
24_burnout                                           4
272_card_days_receive_money                          3
276_expected_days_informal_credit                    6
36_credit_default_rate                               2
315_frequency_topups                                 1
316_frequency_utility_bills                          2
317_home_deliveries                                  2
62_frequency_only_services                           2
78_number_home_deliveries_week                       2
172_supplier_frequency                               0
dtype: int64

In [ ]:
Cuantitativa=Cuantitativa.fillna(round(Cuantitativa.mean(),1))
Cuantitativa

In [ ]:
valores_nulos=Cuantitativa.isnull().sum()
valores_nulos